html {
    background-color: navy;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planet {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px;
}

.mercuryImg {
    background-color: grey;
}

.venusImg {
    background-color: grey;
}

.earthImg {
    background-color: grey;
}

.marsImg {
    background-color: grey;
}

.jupiterImg {
    background-color: grey;
}

.saturnImg {
    background: linear-gradient(
  hsl(201 11% 30%) 0%,
  hsl(109 2% 38%) 5%,
  hsl(50 6% 43%) 10%,
  hsl(44 9% 48%) 15%,
  hsl(40 24% 55%) 20%,
  hsl(39 40% 61%) 35%,
  hsl(39 60% 67%) 40%,
  hsl(39 52% 64%) 44%,
  hsl(38 44% 61%) 49%,
  hsl(37 37% 58%) 54%,
  hsl(38 26% 50%) 61%,
  hsl(41 24% 41%) 80%,
  hsl(55 17% 28%) 92%
);
    transform-style: preserve-3d;
    transform: rotateZ(-18deg);
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
}

.saturnImg:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 16px double #a8a59fc2;
    border-top-width: 0;
    border-radius: 50%;
    animation: rings 1.5s infinite linear;
}

.saturnImg:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 8px double #756d5d9d;
    border-top-width: 0;
    border-radius: 50%;
    animation: rings 1s infinite linear;
}

@keyframes rings {
    0%{
    transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
}
50%{
    transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
}
100%{
    transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
}
}


.uranusImg {
    background-color: grey;
}

.neptuneImg {
    background-color: grey;
}